html,body{
  background: #d2ff00;
  color: rgb(0, 0, 0);
  font-family: "Mona Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  
}
body{
  
}
.text-cont{
  min-height: 90vh;
  
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.349);

  
}